---
# Main tasks file for Authentik role

- name: Include Docker Compose setup
  include_tasks: docker.yml

- name: Include bootstrap setup
  include_tasks: bootstrap.yml
  when: authentik_bootstrap | default(true)
